/* 이름 수정 필요 */

/* 해더.css 푸터 .css 
같은 방식으로 만들기 
*/

.placehorder {
  position: absolute;
  width: 300px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  pointer-events: none;
  color: #262626;
}

.placehorder_box {
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  color: white;
  line-height: 30px;
}

.error_guide_message {
  width: 100%;
  text-align: end;
  color: black;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
}

@keyframes placehorder_to_small {
  from {
    font-size: 16px;
  }
  to {
    font-size: 9px;
  }
}

@keyframes placehorder_to_big {
  from {
    font-size: 9px;
  }
  to {
    font-size: 16px;
  }
}
