.btn_red {
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--btn-red);
  border-radius: 50%;
  cursor: pointer;
}

.btn_gray {
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--btn-gray);
  border-radius: 50%;
  margin-left: 10px;
}

.btn_yellow {
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--btn-yellow);
  border-radius: 50%;
  cursor: pointer;
}
.btn_green {
  width: 30px;
  height: 30px;
  border: none;
  background-color: var(--btn-green);
  border-radius: 50%;
  cursor: pointer;
}
