@import "../reset/reset.css";

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#detail_container {
  position: fixed;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 3px solid #bbbbbb;
  border-radius: 3px;
  z-index: 1;
}

#detail_btn_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 2vh;
}

#detail_red_btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f24822;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

#insert_box {
  width: 80%;
  height: 70px;
  display: flex;
  align-items: center;
  border: 3px solid;
  border-radius: 3px;
}

#insert_container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}

input[type="time"] {
  border: none;
  width: 25%;
  padding: 10px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  font-size: 100%;
  margin: 10px;
}
#schedule_input {
  width: 70%;
  height: 30px;
}
#schedule_input {
  border: 2px solid #bbbbbb;
  border-radius: 3px;
}
#schedule_input:focus {
  outline: 2px solid #999999;
  border: none;
}

.img_btn {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
}
#insert_btn {
  background-image: url("../image/schedule/add_icon.png");
}

#shcedule_container {
  width: 80%;
}

#schedule_scroll {
  height: 400px;
  margin: 20px;
  overflow-y: auto;
  margin-top: 5px;
}
.schedule_list {
  width: 90%;
  height: 80px;
  line-height: 80px;
  border: 3px solid;
  border-radius: 3px;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

::-webkit-scrollbar {
  background-color: #eeeeee;
  width: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffcceb;
  border-radius: 3px;
  height: 40px;
}

.schedule_rename {
  background-image: url("../image/schedule/rename.png");
}
.schedule_delete {
  background-image: url("../image/schedule/delete.png");
}
.schedule_save {
  background-image: url("../image/schedule/save.png");
}
.schedule_back {
  background-image: url("../image/schedule/back.png");
}
.schedule_box {
  display: flex;
  align-items: center;
}
.schedule_text {
  border: none;
  pointer-events: none;
}

#content_back {
  transform: rotateY(-180deg);
}
