@import "../common/reset.css";
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#join_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
  border: solid 2px #999999;
}

#join_header_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #425c73;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 2vh;
}

#join_btn_red {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f24822;
  border-radius: 50%;
  margin-left: 30px;
  cursor: pointer;
}

#join_btn_gray {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #b3b3b3;
  border-radius: 50%;
  margin-left: 10px;
}

/* 메인 테두리  */
#join_file_container {
  position: relative;
  margin-right: 60px;
}

/* 탭박스 모음 */
#join_tab_box {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
  color: white;
}

#join_tab_id_box {
  position: relative;
  margin-right: 5px;
  cursor: pointer;
}

#join_tab_id_back {
  background-color: #758694;
  width: 120px;
  height: 25px;
  -webkit-transform: skew(-20deg);
}
#join_tab_id_content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  pointer-events: none;
  font-size: 15px;
  z-index: 1;
}

#join_tab_privacy_box {
  position: relative;
  margin-right: 5px;
  cursor: pointer;
}

#join_tab_privacy_back {
  background-color: #758694;
  width: 120px;
  height: 25px;
  -webkit-transform: skew(-20deg);
}

#join_tab_privacy_content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  pointer-events: none;
  font-size: 15px;
  z-index: 1;
}

#join_tab_profile_box {
  position: relative;
  cursor: pointer;
}

#join_tab_profile_back {
  width: 120px;
  height: 0px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 25px solid #758694;
}
#join_tab_profile_content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  pointer-events: none;
  font-size: 15px;
  z-index: 1;
}

/* 해더 아래 메인 전체 */
#join_main_list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#join_back_btn {
  width: 30px;
  height: 30px;
  background-image: url("../image/join/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-color: white;
  transform: rotate(-90deg);
  cursor: pointer;
}

/* 파일 내용 칸 */
#join_file_shape {
  width: 400px;
  height: 300px;
  background-color: #758694;
  border-radius: 3px;
}

.join_file_content {
  width: fit-content;
}

#join_next_box {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

#join_next_btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("../image/join/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  margin-right: 40px;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
}

#class_container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#select_container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin: 5px;
  margin-left: 20px;
  background-color: #373a40;
}

#select_box {
  display: flex;
  flex-direction: row;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.class_box {
  margin-right: 20px;
  margin-left: 20px;
}

.class_text {
  display: inline;
  font-size: 10px;
  margin: 5px;
  margin-bottom: 8px;
  text-align: center;
}

.class_select {
  position: relative;
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  padding: 10px;
  color: black;
  line-height: 30px;
  background-color: #eeeeee;
  cursor: pointer;
}

#check_img {
  position: absolute;
  right: 30px; /* select의 오른쪽에 위치 */
  top: 40%;
  transform: translateY(-50%);
  transform: rotate(90deg);
  pointer-events: none; /* 아이콘 클릭 무시 */
}

.class_list {
  width: 95%;
  background-color: #999999;
  border: solid 2px #999999;
  border-radius: 2px;
  padding: 8px;
  margin: 2px;
  margin-bottom: 5px;
  cursor: pointer;
}
#class_scroll {
  height: 150px;
  overflow-y: auto;
  background-color: #eeeeee;
  margin-top: 5px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
input[type="radio"]:checked {
  background-color: #373a40;
  border: 3px solid #373a40;
  box-shadow: 0 0 0 1.6px white;
}

::-webkit-scrollbar {
  background-color: #e1e1e1;
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 40px;
}
