@import "../reset/reset.css";
#join_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0;
  height: 0;
  border-color: var(--color-black);
  overflow: hidden;
}

#join_header_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--header-btn-list);
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 2vh;
}
/* 메인 테두리  */
#join_file_container {
  position: relative;
  margin-right: 60px;
}

/* 탭박스 모음 */
#join_tab_box {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 80%;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 5px;
  color: var(--color-white);
}

#join_tab_id_box {
  position: relative;
  margin-right: 5px;
  cursor: pointer;
}

#tab_id_join {
  display: none;
}

#tab_privacy_join {
  display: none;
}
#tab_profile_join {
  display: none;
}
#join_tab_id_back {
  background-color: var(--file-shape-back);
  width: 120px;
  height: 25px;
  -webkit-transform: skew(-20deg);
}
#join_tab_id_content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  pointer-events: none;
  font-size: 15px;
  z-index: 1;
}

#join_tab_privacy_box {
  position: relative;
  margin-right: 5px;
  cursor: pointer;
}

#join_tab_privacy_back {
  background-color: var(--file-shape-back);
  width: 120px;
  height: 25px;
  -webkit-transform: skew(-20deg);
}

#join_tab_privacy_content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  pointer-events: none;
  font-size: 15px;
  z-index: 1;
}

#join_tab_profile_box {
  position: relative;
  cursor: pointer;
  background-color: var(--color-black);
}

.join_tab_profile_back {
  width: 120px;
  height: 0px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 25px solid var(--file-shape-back);
  background-color: var(--color-white);
}
.join_tab_profile_back_click {
  width: 120px;
  height: 0px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 25px solid var(--file-shpae-click);
  background-color: var(--color-white);
}
#join_tab_profile_content {
  height: 25px;
  line-height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  pointer-events: none;
  font-size: 15px;
  z-index: 1;
}

/* 해더 아래 메인 전체 */
#join_main_list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#join_back_btn {
  width: 30px;
  height: 30px;
  background-image: url("../image/join/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-color: var(--color-white);
  transform: rotate(-90deg);
  cursor: pointer;
}

/* 파일 내용 칸 */
#join_file_shape {
  width: 400px;
  height: 300px;
  background-color: var(--file-shape-back);
  border-radius: 3px;
}

.join_file_content {
  width: fit-content;
  display: none;
}

#join_next_box {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

#join_next_btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("../image/join/arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-color: var(--color-white);
  cursor: pointer;
  margin-right: 40px;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
}

#class_container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#select_container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin: 5px;
  margin-left: 20px;
  background-color: var(--file-shpae-click);
}

#select_box {
  display: flex;
  flex-direction: row;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.class_box {
  margin-right: 20px;
  margin-left: 20px;
}

.class_text {
  display: inline;
  font-size: 10px;
  margin: 5px;
  margin-bottom: 8px;
  text-align: center;
}

.class_select {
  position: relative;
  width: 300px;
  height: 50px;
  border: none;
  outline: none;
  padding: 10px;
  color: var(--color-black);
  line-height: 30px;
  background-color: var(--select-back);
  cursor: pointer;
}

#check_img {
  position: absolute;
  right: 30px; /* select의 오른쪽에 위치 */
  top: 40%;
  transform: translateY(-50%);
  transform: rotate(90deg);
  pointer-events: none; /* 아이콘 클릭 무시 */
}

.class_list {
  width: 95%;
  background-color: var(--select-color);
  border: solid 2px var(--select-color);
  border-radius: 2px;
  padding: 8px;
  margin: 2px;
  margin-bottom: 5px;
  cursor: pointer;
}
#class_scroll {
  height: fit-content;
  max-height: 150px;
  overflow-y: auto;
  background-color: var(--select-back);
  margin-top: 5px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-white);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
input[type="radio"]:checked {
  background-color: var(--file-shpae-click);
  border: 3px solid var(--file-shpae-click);
  box-shadow: 0 0 0 1.6px var(--color-white);
}

::-webkit-scrollbar {
  background-color: var(--scroll-bar-back);
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 40px;
}

@keyframes width_to_0 {
  from {
    width: 90%;
    height: 90%;
    opacity: 1;
  }
  to {
    width: 0%;
    opacity: 0;
    height: 90%;
  }
}

@keyframes width_to_100 {
  from {
    width: 0%;
    opacity: 0;
    height: 90%;
  }
  to {
    width: 90%;
    opacity: 1;
    height: 90%;
  }
}
