@import "../reset/reset.css";

#modal_theme {
  position: fixed;
  width: 600px;
  height: 400px;
  border: #bbbbbb 3px solid;
  border-radius: 3px;
  background-color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

#modal_btn_lsit {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 2vh;
}

#modal_red_btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f24822;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
