@import "../reset/reset.css";

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 화면 */
#profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
  border: solid 2px;
  background-color: white;
  border-color: var(--color-black);
}
.btn_list {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px;
}

#yellow_btn {
  margin-left: 10px;
  margin-right: 10px;
}

#profile_content_container {
  width: 80%;
  height: 80%;
  position: relative;
}
#front_container {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: all ease 2s;
}

#back_container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  transition: all ease 2s;
  transform: rotateY(-180deg);
}
#profile_content_container:hover #front_container {
  transform: rotateY(-180deg);
}

#profile_content_container:hover #back_container {
  transform: rotateY(0deg);
}

#content_back {
  width: 100%;
  height: 100%;
  border: 3px solid var(--color-black);
  display: flex;
  font-size: 30px;
  align-items: center;
}

#content_front {
  width: 100%;
  height: 100%;
  border: 3px solid var(--color-black);
  display: flex;
  font-size: 30px;
}

#front_text {
  width: 60%;
}
#front_box {
  width: 100%;
}

#user_text_list {
  display: flex;
  width: 100%;
  margin: 20px;
}

#front_img {
  width: 40%;
  height: 90%;
  object-fit: contain;
}

#front_box {
  padding: 80px;
}

#user_name {
  font-weight: 900;
}

#profile_img_back {
  width: 40%;
  object-fit: contain;
}
#profile_text_back {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_btn {
  width: 50px;
  height: 30px;
  line-height: 30px;
  border: 0px;
  border-radius: 3px;
  background-color: var(--menu-color);
  color: var(--color-white);
  cursor: pointer;
}

#delete_container {
  display: none;
  position: fixed;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 60%;
  border: solid 4px var(--menu-color);
  background-color: var(--color-white);
  z-index: 1;
}

.opacity_box {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: var(--color-black);
}

#delete_content {
  display: flex;
  margin-top: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#delete_text {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}
