@import "../common/reset.css";

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
  border: solid 2px #999999;
  background-color: white;
}

#btn_list {
  position: relative;
  display: flex;
  width: 100%;
  margin: 10px;
}

#red_btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f24822;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
#yellow_btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #ffcd29;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
#green_btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #14ae5c;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

input[type="date"] {
  border: none;
  position: relative;
  width: 100%;
  padding: 10px;
  content: attr(data-placeholder);
  background-color: #bbbbbb;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  font-size: 100%;
  margin-bottom: 20px;
}

#month {
  width: 80%;
  height: 80%;
}
#date {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
tr {
  border: solid 1px;
}
td {
  border: solid 1px;
  padding: 10px;
  cursor: pointer;
}
th {
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.opacity_box {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: white;
}
#speech_icon {
  display: none;
  background-image: url("../image/schedule/speech.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 280px;
  position: absolute;
  background-size: contain;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#speech_menu_container {
  background-color: beige;
  width: fit-content;
  margin-left: 15%;
}

.speech_menu_icon {
  width: 50px;
}
.speech_menu_text {
  line-height: 50px;
  margin-left: 10px;
}
#watch_all_box {
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: row;
}
#watch_profile_box {
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
#set_theme_box {
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: row;
}

#theme_btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

#modal_theme {
  position: fixed;
  width: 600px;
  height: 400px;
  border: #bbbbbb 3px solid;
  border-radius: 3px;
  background-color: white;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

#modal_btn_lsit {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 2vh;
}

#modal_red_btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f24822;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.grey_btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #b3b3b3;
  border-radius: 50%;
  margin-left: 10px;
}

#color_choose_input {
  width: 50px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#color_choose_input::-webkit-color-swatch {
  border-radius: 50px;
  border: none;
}
#choose_container {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
  margin-top: 70px;
}

#choose_box {
  display: flex;
  align-items: center;
}
#color_check_btn {
  width: 50px;
  height: 30px;
  line-height: 30px;
  border: 0px;
  border-radius: 3px;
  background-color: #757575;
  color: white;
  cursor: pointer;
}

#modal_detail {
  position: fixed;
  width: 80%;
  height: 80%;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 3px solid #bbbbbb;
  border-radius: 3px;
  z-index: 1;
}

#detail_btn_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 2vh;
}

#detail_red_btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f24822;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

#insert_box {
  width: 80%;
  height: 70px;
  display: flex;
  align-items: center;
  border: 3px solid;
  border-radius: 3px;
}

#insert_container {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}

input[type="time"] {
  border: none;
  width: 25%;
  padding: 10px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  font-size: 100%;
  margin: 10px;
}
#schedule_input {
  width: 70%;
  height: 30px;
}
#schedule_input {
  border: 2px solid #bbbbbb;
  border-radius: 3px;
}
#schedule_input:focus {
  outline: 2px solid #999999;
  border: none;
}

.img_btn {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
}
#insert_btn {
  background-image: url("../image/schedule/add_icon.png");
}

#shcedule_container {
  width: 80%;
}

#schedule_scroll {
  height: 400px;
  margin: 20px;
  overflow-y: auto;
  margin-top: 5px;
}
.schedule_list {
  width: 90%;
  height: 80px;
  line-height: 80px;
  border: 3px solid;
  border-radius: 3px;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

::-webkit-scrollbar {
  background-color: #eeeeee;
  width: 30px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffcceb;
  border-radius: 3px;
  height: 40px;
}

.schedule_rename {
  background-image: url("../image/schedule/rename.png");
}
.schedule_delete {
  background-image: url("../image/schedule/delete.png");
}
.schedule_save {
  background-image: url("../image/schedule/save.png");
}
.schedule_back {
  background-image: url("../image/schedule/back.png");
}
.schedule_box {
  display: flex;
  align-items: center;
}
.schedule_text {
  border: none;
  pointer-events: none;
}

#content_back {
  transform: rotateY(-180deg);
}
