@import "../reset/reset.css";

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modal_guide {
  display: none;
  position: fixed;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 60%;
  border: solid 2px;
  border-color: var(--container-border);
  background-color: var(--color-white);
  z-index: 1;
}
#guide_check_btn {
  width: 50px;
  height: 30px;
  line-height: 30px;
  border: 0px;
  border-radius: 3px;
  background-color: var(--default-color);
  color: white;
  cursor: pointer;
}
#guide_btn_lsit {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 2vh;
  background-color: var(--default-color);
}
#guide_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
#guide_box {
  display: flex;
  flex-direction: column;
}
.guide_line {
  display: flex;
  align-items: center;
  margin: 5px;
}

#page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
  border: solid 2px;
  border-color: var(--container-border);
  background-color: var(--color-white);
}

#btn_list {
  position: relative;
  display: flex;
  width: 100%;
  margin: 10px;
}
#red_btn {
  margin-left: 10px;
}
#yellow_btn {
  margin-left: 10px;
  margin-right: 10px;
}

input[type="date"] {
  border: none;
  position: relative;
  width: 100%;
  padding: 10px;
  content: attr(data-placeholder);
  background-color: #bbbbbb;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  font-size: 100%;
  margin-bottom: 20px;
}

#month {
  width: 80%;
  height: 80%;
}
#date {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
tr {
  border: solid 1px;
}
td {
  border: solid 1px;
  padding: 10px;
  cursor: pointer;
  line-height: 20px;
  width: 14%;
  height: 20%;
}
th {
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.opacity_box {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: var(--color-black);
}
#speech_icon {
  display: none;
  background-image: url("../image/schedule/speech.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 280px;
  position: absolute;
  background-size: contain;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#speech_menu_container {
  width: fit-content;
  margin-left: 15%;
}

.speech_menu_icon {
  width: 50px;
  pointer-events: none;
}
.speech_menu_text {
  line-height: 50px;
  margin-left: 10px;
  pointer-events: none;
}
#watch_all_box {
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: row;
}
#watch_profile_box {
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
#set_theme_box {
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: row;
}

#theme_btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.grey_btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #b3b3b3;
  border-radius: 50%;
  margin-left: 10px;
}

#placehorder_box {
  width: 60%;
}
